<nav>
	<li><%= link_to 'Expeditions', user_path(@user)  %></li>
</nav>

<nav>
	<li><%= link_to 'dissociate from this destination', user_island_path(@user, @island), method: :delete %></li>
</nav>

<div class="userIsland">
  <h1> <%= @user.name %> </h1>

  <h2><%= @island[:name].upcase %></h2>

  <h3>Size_ <%= @island[:size] %> km2</h3>

  <h3>Region_ <%= @island[:region].capitalize %> Ocean </h3>

  <h3>Population_ <%= @island[:population] %> </h3>

</div>



