<div id="right">	
		<ul>
			<% @users.each do |user| %>
				<div>
					<li>
						<div id="show"> 
						<%= link_to user[:name].upcase, user_path(user)  %> </div>
							<% user.islands.each do |island| %>
								<li id="islandList">
									<%= island[:name].upcase %>
									| Region: 
									<%= island[:region].capitalize %>
								</li>
							<% end %>
					</li>	
				</div>
			<% end %>
		</ul>	
</div>


<div id="three"></div>

<div id="left">
	<nav class="new">
				<li><%= link_to('list all visitors', users_path) %></li>
				<li><%= link_to('home', new_user_path) %></li>
	</nav>	
</div>