<div class="box">

	<div id="left">
		<nav class="new">
			<li><%= link_to('team', users_path) %></li>
			<li><%= link_to('home', new_user_path) %></li>
		</nav>	
	
		<div class="circle">
			<h2><%= @user.name %></h2>
		</div>
		<div class="delete">
			<%= link_to('delete', user_path(@user.id), method: :delete)  %>
		</div>

	</div>

	<div id="right">

		<h2><img src="/assets/iconLarge1.png">Previous Expedition</h2>
		<ul>
			<% @user.islands.each do |island| %>
				<li>
					<!-- link to user_island show page -->
					<%= link_to island[:name].capitalize, user_island_path(@user, island) %>
				</li>
			<% end %>
		</ul>

		<h2><img src="/assets/iconlarger.png">Future Expedition</h2>
		<ul>
			<% (Island.all.map(&:name) - @user.islands.map(&:name)).each do |island| %>
				<!-- add island to user_island -->
				<li><%= link_to island.capitalize, user_island_path(@user, @islands.where(name: island).first.id) %></li>
			<% end %>
		</ul>


	</div>

	</div>
	<!-- google map -->
	<div id="map-canvas"></div>
	<script>
		google.maps.event.addDomListener(window, 'load', GoogleMap.initialize("<%= @user.id %>"));
	</script>

