<h2>islands you have visited</h1>

<h2>
	<%= @user.name %>
	<%= link_to('DELETE', user_path(@user.id), method: :delete)  %>
</h2>

<ul>
	<% @user.islands.each do |island| %>
		<li>
			<!-- link to user_island show page -->
			<%= link_to island[:name], user_island_path(@user, island) %>
		</li>
	<% end %>
</ul>

<h2>Islands you haven't visited</h2>
<ul>
	<% (Island.all.map(&:name) - @user.islands.map(&:name)).each do |island| %>
		<!-- add island to user_island -->
		<li><%= link_to island, user_island_path(@user, @islands.where(name: island).first.id) %></li>
	<% end %>
</ul>

<!-- google map -->
<div id="map-canvas"></div>
<script>
	google.maps.event.addDomListener(window, 'load', GoogleMap.initialize("<%= @user.id %>"));
</script>